*.png
*.jpeg
*.jpg
*.gif  
*.bmp
*.tif
*.tiff
*.ico
*.dll
*.exe
*.so
*.dylib
*.o
*.obj
*.txt
!requirements.txt
!tools/requirements.txt
!GUI/ReadMe.txt
!GUI/Flash/
!GUI/Flash/*.txt
!GUI/Icons/
!GUI/Icons/*.png
!GUI/Icons/*.jpg
!GUI/Icons/*.ico
!GUI/hidapi-master/AUTHORS.txt
!GUI/hidapi-master/HACKING.txt
!GUI/hidapi-master/LICENSE*.txt
!GUI/hidapi-master/README.txt
!GUI/hidapi-master/linux/README.txt
*.pyc
__pycache__/
.venv/
.venv-pc/
patterns/
scans/
captures/
example_patterns/
dist/
.toolchains/
android/**/.gradle/
android/**/build/
tmp/
